* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

*::selection {
  background: #FFCC33;
  color: #697281;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media only screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 1200px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: #6a6c77;
}

html::-webkit-scrollbar-thumb {
  background: #FFCC33;
}

body {
  background: #394452;
  overflow: hidden;
  padding-left: 35rem;
}
@media only screen and (max-width: 991px) {
  body {
    padding: 0;
  }
}

section {
  min-height: 100vh;
  padding: 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #FFCC33;
}

.btn {
  padding: 0.7rem 3rem;
  background: #697281;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
}

.btn i {
  padding: 0 0.5rem;
  font-size: 1.8rem;
}

.btn:hover {
  background: #FFCC33;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 35rem;
  background: #555d66;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  header {
    left: -120%;
  }
}
@media only screen and (max-width: 991px) and (max-width: 400px) {
  header {
    width: 100%;
  }
}

header.active {
  left: 0%;
}

header .user img {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid #FFCC33;
}

header .user .name {
  font-size: 3.5rem;
  color: #fff;
}

header .user .post {
  font-size: 2rem;
  color: #eee;
}

header .navbar {
  width: 100%;
}

header .navbar ul {
  list-style: none;
  padding: 1rem 3rem;
}

header .navbar ul li a {
  display: block;
  padding: 1rem;
  margin: 1.5rem 0;
  background: #697281;
  color: #fff;
  font-size: 2rem;
  border-radius: 5rem;
}

header .navbar ul li a:hover {
  background: #FFCC33;
}

#menu-bars {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background: #394452;
  color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 991px) {
  #menu-bars {
    display: initial;
  }
}

.home {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding: 0 15rem;
}
@media only screen and (max-width: 1200px) {
  .home {
    padding: 1rem 4rem;
  }
}

.home h3 {
  font-size: 2.5rem;
  color: #fff;
}

.home h1 {
  font-size: 5rem;
  color: #fff;
}

.home h1 span {
  color: #FFCC33;
}

.home p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem 0;
}

.heading {
  text-align: center;
  margin: 0 6rem;
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2666666667);
  color: #fff;
}
@media only screen and (max-width: 400px) {
  .heading {
    margin: 0 3rem;
  }
}
.heading span {
  color: #FFCC33;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.about .row .info {
  flex: 1 1 48rem;
  padding: 2rem 1rem;
  padding-left: 6rem;
}

.about .row .info h3 {
  font-size: 2rem;
  color: #FFCC33;
  padding: 1rem 0;
  font-weight: normal;
}

.about .row .info h3 span {
  color: #eee;
  padding: 0 0.5rem;
}

.about .row .box {
  width: 20rem;
  background: #6a6c77;
  padding: 2rem;
  margin: 2rem;
}
@media only screen and (max-width: 400px) {
  .about .row .box {
    width: 100%;
  }
}

.about .row .box span {
  font-size: 4rem;
  color: #FFCC33;
}

.about .row .box h3 {
  font-size: 2rem;
  color: #fff;
}

.about-me h3 {
  font-size: 2.5rem;
  padding-top: 5rem;
  color: #fff;
}

.about-me h1 {
  margin: 1rem;
  font-size: 2.5rem;
  color: #fff;
}

.about-me h1 {
  color: #FFCC33;
}

.about-me p {
  font-size: 2rem;
  color: #eee;
  padding: 1rem 1rem;
}

.education .box-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  padding-bottom: 16rem;
  padding-left: 10rem;
}
@media only screen and (max-width: 400px) {
  .education .box-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
}

.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2rem solid #fff;
  position: relative;
}
@media only screen and (max-width: 400px) {
  .education .box-container .box {
    width: 100%;
  }
}

.education .box-container .box span {
  font-size: 1.3rem;
  background: #6a6c77;
  color: #fff;
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}

.education .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding-top: 1.5rem;
}

.education .box-container .box p {
  font-size: 1.4rem;
  color: #eee;
  padding: 1rem 0;
}

.education .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background: #FFCC33;
}

#portfolio-main {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
@media only screen and (max-width: 400px) {
  #portfolio-main {
    display: grid;
    grid-template-columns: repeat(1, auto);
  }
}

.container {
  width: 24rem;
  margin-top: 100.6px;
  margin-left: 15rem;
}
@media only screen and (max-width: 400px) {
  .container {
    width: 100%;
  }
}

.box-image {
  height: 17rem;
  width: 17rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
  border: 0.7rem solid #FFCC33;
}

h3 {
  margin: 1rem;
  font-size: 2rem;
  color: #fff;
}

p {
  font-size: 1.4rem;
  color: #eee;
  padding: 1rem 0;
}

.github-link {
  margin-top: 10rem;
  font-size: 2rem;
}
.github-link p {
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2666666667);
}
.github-link a {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding-top: 1rem;
}

.splide__slide img {
  width: 100%;
  height: 100%;
}

.splide {
  border: 0.7rem solid #FFCC33;
  margin-bottom: 18.9rem;
  margin-top: 10.6rem;
}

.footer {
  margin-top: 2rem;
  font-size: 2rem;
  padding: 2.5rem;
  text-align: center;
  color: #eee;
  background-color: #555d66;
}
.footer span {
  color: #fff;
}

.contact {
  font-size: 4rem;
  color: #fff;
}
@media only screen and (max-width: 400px) {
  .contact {
    margin: 0 3rem;
  }
}
.contact span {
  color: #FFCC33;
}
.contact .info h3 {
  font-size: 2rem;
  color: #FFCC33;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
