#portfolio-main {
    display: grid;
    grid-template-columns: repeat(2, auto);

    @include devices(tablet) {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, auto);

        @include devices(smartphone) {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(1, auto);
        }

        @include devices(phone) {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(1, auto);
        }
    }
}

.container {
    width: 24rem;
    margin-top: 11.7rem;
    margin-bottom: 18.6rem;
    margin-left: 15rem;

    @include devices(tablet) 
    {
        margin-left: 0rem;

        @include devices(smartphone) 
        {
            margin-left: 0rem;
        }

        @include devices(phone) 
        {
            margin-left: 0rem;
        }
    }
}

.box-image {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid $fontAndHoverColor;
}

h3 {
    margin: 1rem;
    font-size: $fontSizeS;
    color: $primaryFontColor;
}

p {
    font-size: $fontSizeXS;
    color: $secondaryFontColor;
    padding: 1rem 0;
}

.github-link {
    margin-top: 10rem;
    font-size: $fontSizeS;

    p {
        border-bottom: .1rem solid $defaulBorderBottomColor;
    }

    a {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        padding-top: 1rem;
    }
}



//image carousel designs

.splide__slide img {
    width: 100%;
    height: 100%;
}

.splide {
    border: .7rem solid $fontAndHoverColor;
    margin-bottom: 2rem;
    margin-top: 3rem;

    @include devices(tablet) 
    {
        margin-left: 0rem;

        @include devices(smartphone) 
        {
            margin-left: 0rem;
        }

        @include devices(phone) 
        {
            margin-left: 0rem;
        }
    }
}