// --------Colors------------ //


// --------Background-Colors------------ //
$primaryBackgroundColor: #394452;
$secondaryBackgroundColor: #6a6c77;
$thirdBackgroundColor:  #697281;
$fourthBackgroundColor: #555d66;
$fithBackgroundColor: #080808;

// --------Font-Colors------------ //
$fontAndHoverColor: #FFCC33;
$primaryFontColor: #fff;
$secondaryFontColor: #eee;

// --------Border-Colors------------ //
$defaulBorderBottomColor: #fff4;


// --------Font-Sizes------------ //
$fontSizeXXL: 5rem;
$fontSizeXL: 4rem;
$fontSizeL: 3.5rem;
$fontSizeM: 3rem;
$fontSizeMS: 2.5rem;
$fontSizeS: 2rem;
$fontSizeSM: 1.8rem;
$fontSizeXS: 1.4rem;
$fontSizeXXS: 1.3rem;
